<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Ulices Gonzalez" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Index</title>
</head>

<body>
    {% include 'partials/about/header.html' %}

    <main>
        <h2>Welcome</h2>
        <ul>
            <li><a href="members/jared">Jared Aung</a></li>
            <li><a href="members/marco">Marco Barraza</a></li>
            <li><a href="members/andre">Andre Dargani</a></li>
            <li><a href="members/ulices">Ulices Gonzalez</a></li>
            <li><a href="members/mowtee">Mowtee Sailan</a></li>
            <li><a href="members/sergio">Sergio Aguilar</a></li>
        </ul>
    </main>

    {% include 'partials/about/footer.html' %}
</body>

</html>