<!DOCTYPE html>
<html lang="en">

{% include 'partials/head.html' %}

<body>
    
    {% include 'partials/header.html' %}

    {% include 'partials/sidebars.html' %}

    <main>
        <form method="GET" action="/search">
            {% include 'partials/search.html' %}
        </form>

        <!-- DEBUG: -->
<p>Search term value: "{{ search if search else 'NOT SET' }}"</p>
<p>Request args: "{{ request.args.get('search', 'NOT SET') }}"</p>

    <!-- Line 22 displays the data from backend -->
        {% include 'partials/searchResults.html' %}
    </main>

    {% include 'partials/footer.html' %}

    <script src="{{ url_for('static', filename='js/toggleSides.js') }}"></script>

</body>

</html>