<!DOCTYPE html>
<html lang="en">

{% include 'partials/head.html' %}

<body>

<body>
    
    {% include 'partials/header.html' %}

    {% include 'partials/sidebars.html' %}

    <main>
        <form method="POST" action="/search">
            {% include 'partials/search.html' %}
        </form>
    <!-- Line 22 displays the data from backend -->
        {% include 'partials/searchResults.html' %}
    </main>

    {% include 'partials/footer.html' %}

    <script src="{{ url_for('static', filename='js/toggleSides.js') }}"></script>

</body>

</html>