<article class="search-history">
    <div class="organizer">
        <div class="user-info">
            <h3>{{ title }}</h3>
                {% if reviews %}
                    <h3>Recent Reviews for Your Tools</h3>
                    <ul class="review-list">
                        {% for review in reviews %}
                        <li class="review-item">
                            Tool: {{ review.name }}<br>
                            Review: "{{ review.review_text }}" <br>
                            Date: {{ review.created_at }}
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No reviews for your tools yet.</p>
                {% endif %}
                {% if reviews %}
                    <h3>Recent Reviews You Posted</h3>
                    <ul class="review-list">
                        {% for review in reviews %}
                        <li class="review-item">
                            Review: "{{ review.review_text }}" <br>
                            Date: {{ review.created_at }}
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>You haven't posted any reviews yet.</p>
                {% endif %}
            {% else %}
                <p>Please log in to view review history.</p>
            {% endif %}
        </div>
    </div>
</article>