<div id="user-container" class="user-container">
    <div class="organizer">
        <div class="dash-info">
            {% if session.Account_Type == 'Company' %}
            <p>Account Type from Session: Company</p>
            {% else %}
                {% if session.Account_Type == 'General' %}
                <p>Account Type from Session: General or student</p>
                {% else %}
                <p>Account Type from Session: guest</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>