<div id="user-container" class="user-container">
    <div class=" organizer">
        <div class="dash-info">
            {% if session.username %}
            {% if session.account_type == 'Company' %}
            <div class="admin-info">
                {% include 'partials/admin-dash.html' %}
            </div>
            {% endif %}
            {% if session.account_type == 'General' or session.account_type == 'Student' %}
            <div class="user-info">
                {% include 'partials/user-dash.html' %}
            </div>
            {% endif %}
            {% else %}
            <div class="guest-info">
                {% include 'partials/guest-dash.html' %}
            </div>
            {% endif %}
        </div>
    </div>
</div>