<div id="user-container" class="user-container">
    <div class="organizer">
        <div class="dash-info">
            {% if session.Account_Type == 'Company' %}
            <h2>Account Type from Session: Company</h2>
            {% else %}
                {% if session.Account_Type == 'General' %}
                <h2>Account Type from Session: General or student</h2>
                {% else %}
                <h2>Account Type from Session: guest</h2>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>