<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JD8SPMESKP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JD8SPMESKP');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Ulices Gonzalez" />
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/images.css">
    <link rel="stylesheet" type="text/css" href="static/css/sides.css">
    <link rel="stylesheet" type="text/css" href="static/css/forms.css">
    <link rel="stylesheet" type="text/css" href="static/css/results.css">
    <link rel="stylesheet" type="text/css" href="static/css/favrate.css">
    <link rel="stylesheet" type="text/css" href="static/css/tools.css">    
    <link rel="stylesheet" type="text/css" href="static/css/mobile.css">
    <link rel="icon" href="/static/favicon.ico">
    <title>{{ title }}</title>
</head>

