<div class="sidebar-left collapsed" id="sidebarLeft">
    <button class="toggle-button" id="toggleLeft">&#9776;</button>
    <nav>
        <ul class="left-nav">
            <li><a href="#" class="history"><img src="/static/imgs/history_icon.png" alt="History Icon"
                        class="sidebar-icon">History</a></li>
            <li><a href="#" class="new_search"><img src="/static/imgs/search_icon.png" alt="New Search Icon"
                        class="sidebar-icon">New Search</a></li>
            <li><a href="#" class="predictive_search"><img src="/static/imgs/predictive_search.png"
                        alt="Predictive Search Icon" class="sidebar-icon">Predictive Search</a></li>
        </ul>
    </nav>
</div>