<div class="sidebar-left collapsed" id="sidebarLeft">
    <button class="toggle-button" id="toggleLeft">&#9776;</button>
    <nav>
        <ul class="left-nav">
            <li>
                <a href="/dataUpload" class="data_upload">
                    <div class="icon-container">
                        <img src="/static/imgs/upload.png" alt="Data Upload Icon" class="sidebar-icon">
                    </div>
                    Upload
                </a>
            </li>
            <li>
                <a href="/dashboard" class="new_search">
                    <div class="icon-container">
                        <img src="/static/imgs/search.png" alt="New Search Icon" class="sidebar-icon">
                    </div>
                    Search
                </a>
            </li>
            <!-- Left in here in case we come back to it after P1s are done and we have time
            <li>
                <a href="/" class="predictive_search">
                    <div class="icon-container">
                        <img src="/static/imgs/predict.png" alt="Predictive Search Icon" class="sidebar-icon">
                    </div>
                    AI Predict
                </a>
            </li>-->
            <li>
                <a href="/history" class="history">
                    <div class="icon-container">
                        <img src="/static/imgs/history.png" alt="History Icon" class="sidebar-icon">
                    </div>
                    History
                </a>
            </li>
        </ul>
    </nav>
</div>