<div class="sidebar-left collapsed" id="sidebarLeft">
    <button class="toggle-button" id="toggleLeft">&#9776;</button>
    <nav>
        <ul class="left-nav">
            <li>
                <a href="/" class="history">
                    <div class="icon-container">
                        <img src="/static/imgs/history.png" alt="History Icon" class="sidebar-icon">
                    </div>
                    History
                </a>
            </li>
            <li>
                <a href="/" class="new_search">
                    <div class="icon-container">
                        <img src="/static/imgs/search.png" alt="New Search Icon" class="sidebar-icon">
                    </div>
                    New Search
                </a>
            </li>
            <li>
                <a href="/" class="predictive_search">
                    <div class="icon-container">
                        <img src="/static/imgs/predict.png" alt="Predictive Search Icon" class="sidebar-icon">
                    </div>
                    Predictions
                </a>
            </li>
        </ul>
    </nav>
</div>