<div class="rating-container">
  <form class="star-rating-form" method="POST" action="/rating">
    <input type="hidden" name="tool" value="{{ index_id }}">

    <div class="star-rating reversed">
      {% for i in range(5, 0, -1) %}
      <input type="radio" id="star{{ i }}-{{ index_id }}" name="rating" value="{{ i }}" required>
      <label for="star{{ i }}-{{ index_id }}">★</label>
      {% endfor %}
    </div>

    <button type="submit" class="submit-rating">Submit Rating</button>
  </form>
</div>