<div class="sidebar-right collapsed" id="sidebarRight">
    <button class="toggle-button" id="toggleRight">&#9776;</button>
    <nav>
        <ul class="right-nav">
            <li><a href="#" class="profile-link"><img src="/static/imgs/Default_pfp.png" alt="Profile Picture"
                            class="profile-pic">Account</a></li>
            <li><a href="#" class="settings"><img src="/static/imgs/settings_icon.png" alt="Settings Icon"
                            class="sidebar-icon">Settings</a></li>
        </ul>
    </nav>
</div>