<div class="sidebar-right collapsed" id="sidebarRight">
    <button class="toggle-button" id="toggleRight">&#9776;</button>
    <nav>
        <ul class="right-nav">
            {% if session.username %}
            <li>
                <a href="/account" class="profile-link">
                    {{ session.username }}
                    <div class="icon-container">
                        <img src="/static/imgs/avatar.png" alt="Profile Picture" class="sidebar-icon">
                    </div>
                </a>
            </li>
            {% else %}
            <li>
                <a href="/login" class="profile-link">
                    Log In
                    <div class="icon-container">
                        <img src="/static/imgs/avatar.png" alt="Profile Picture" class="sidebar-icon">
                    </div>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="/saved" class="saved">
                    Favorites
                    <div class="icon-container">
                        <img src="/static/imgs/saved.png" alt="Saved Icon" class="sidebar-icon">
                    </div>
                </a>
            </li>
            <li>
                <a href="/settings" class="settings">
                    Settings
                    <div class="icon-container">
                        <img src="/static/imgs/settings.png" alt="Settings Icon" class="sidebar-icon">
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>