<div class="sidebar-right expanded" id="sidebarRight">
    <button class="toggle-button" id="toggleRight">&#9776;</button>
    <nav>
        <ul class="right-nav">
            {% if active_page == 'account' %}
            <li>
                <a href="/logout" class="profile-link">
                    <div class="icon-container">
                        <img src="/static/imgs/avatar.png" alt="Log Out Icon" class="sidebar-icon">
                    </div>
                    Log Out
                </a>
            </li>
            {% else %}
            {% if session.username %}
            <li>
                <a href="/account" class="profile-link">
                    <div class="icon-container">
                        <img src="/static/imgs/user.png" alt="Profile Picture" class="sidebar-icon">
                    </div>
                    {{ session.username }}
                </a>
            </li>
            {% else %}
            <li>
                <a href="/login" class="profile-link">
                    <div class="icon-container">
                        <img src="/static/imgs/user.png" alt="Log In Icon" class="sidebar-icon">
                    </div>
                    Log In
                </a>
            </li>
            {% endif %}
            {% endif %}
            <!-- Left in here in case we come back to it after P1s are done and we have time
            <li>
                <a href="/" class="alli">
                    <div class="icon-container">
                        <img src="/static/imgs/gatorchat.png" alt="Alli Icon" class="sidebar-icon">
                    </div>
                    Alli Chat
                </a>
            </li>-->
            <li>
                <a href="/saved" class="saved">
                    <div class="icon-container">
                        <img src="/static/imgs/star.png" alt="Saved Icon" class="sidebar-icon">
                    </div>
                    Saved
                </a>
            </li>
            {% if session.username %}
            {% if session.Account_Type == 'Company' %}
            <li>
                <a href="/settings" class="settings">
                    <div class="icon-container">
                        <img src="/static/imgs/settings.png" alt="Settings Icon" class="sidebar-icon">
                    </div>
                    Settings
                </a>
            </li>
            {% else %}
            {% endif %}
            {% endif %}
        </ul>
    </nav>
</div>