<select name="filter" class="filter-dropdown" id="filterSelect">
    <option class="dropdown-option" value="">Filter</option>
    <option class="dropdown-option" value="categories">Categories</option>
    <option class="dropdown-option" value="publishing">Publishing</option>
    <option class="dropdown-option" value="type">Type</option>
</select>
<select name="filter-options" class="filter-dropdown" id="filterOptionsSelect">
    <option class="dropdown-option" value="">Option</option>
</select>
<input class="search-bar" type="text" name="search" placeholder="Search">
<button type="submit">Search</button>
<script src="{{ url_for('static', filename='js/dropdowns.js') }}"></script>