<div id="results-container" class="results-container">
    {% if data %}
    {% for item in data %}
    <div class="result-item"> <br>
        <div class="result-info">
            <ul>
                <li><a href="{{ url_for ('view_tool.view_tool', idIndex = item.idIndex)  }}">{{ item.name }}</a></li> <!--update after viewTool route is created-->
                <li><img src="{{ item.thumbnail_url }}" height="25%" width="25%"></li>
                <li>{{ item.description }}</li>
                <li>
                    Created by {{ item.company }},
                    {{ item.category }},
                    
                </li>
                <li>{% if item.average_rating %}
                    Rating: <span class="average-rating-value">{{ "{:.2f}".format(item.average_rating) }}</span>
                    {% else %}
                    No ratings yet
                    {% endif %}
                </li>
            </ul>
        </div>

        {% set index_id = item.idIndex %}
        {% if session.username %}
            {% include 'partials/favorite-button.html' %}
            {% include 'partials/rating-form.html' %}
            {% include 'partials/review-form.html' %}
        {% else %}
        {% endif %}
        </br>
    </div>
    {% endfor %}
    {% elif request.method == 'POST' %}
    <p>No results found.</p>
    {% endif %}

    <div class="paging">
        {% if total_pages > 1 %}
        {% if current_page > 1 %}
        <a
            href="{{ url_for('search.search', page=current_page - 1, search=request.form.get('search', request.args.get('search', '')), filter=request.form.get('filter', request.args.get('filter', '')), filter_options=request.form.get('filter-options', request.args.get('filter-options', ''))) }}">Previous</a>
        {% endif %}

        {% for page in range(1, total_pages + 1) %}
        {% if page == current_page %}
        <span class="current-page">{{ page }}</span>
        {% else %}
        <a
            href="{{ url_for('search.search', page=page, search=request.form.get('search', request.args.get('search', '')), filter=request.form.get('filter', request.args.get('filter', '')), filter_options=request.form.get('filter-options', request.args.get('filter-options', ''))) }}">{{
            page }}</a>
        {% endif %}
        {% endfor %}

        {% if current_page < total_pages %} <a
            href="{{ url_for('search.search', page=current_page + 1, search=request.form.get('search', request.args.get('search', '')), filter=request.form.get('filter', request.args.get('filter', '')), filter_options=request.form.get('filter-options', request.args.get('filter-options', ''))) }}">
            Next</a>
            {% endif %}
            {% endif %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/stars.js') }}"></script>