<div id="tool-{{ id }}" class="results-container">
    
    <div class="result-item"> <br>
        <div class="result-info">
            <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
            <img src="{{ item.thumbnail_url }}" height="25%" width="25%">
            {% if average_rating %}
                Rating: {{ average_rating | default ((0)) | round(2) }}
                <span class="average-rating" style="--rating: {{ (average_rating.average_rating or 0) / 5 * 100 }}%;">★★★★★</span>
            {% else %}
                No ratings yet
            {% endif %}
            {{ item.description }}
            {{ item.company }},
            {{ item.version }},
            {{ item.published_date }},
            {{ item.platform }},
            {{ item.category }},
            {{ item.pricing }},
            <img src="{{ item.thumbnail_url }}" height="25%" width="25%">
            <img src="{{ item.thumbnail_url }}" height="25%" width="25%">
            <img src="{{ item.thumbnail_url }}" height="25%" width="25%">
            {% if reviewdata %}
            {% for item in reviewdata %}
            <!-- where all reviews go-->
                {{ item.username }} 
                {{ item.review_text}}
                {{ item.created_at}}
            {% endfor %}
            {% elif request.method == 'POST' %}
            <p>No results found.</p>
            {% endif %}
        </div>
        {% set index_id = item.idIndex %}
        {% include 'partials/favorite-button.html' %}
        {% include 'partials/rating-form.html' %}
        {% include 'partials/review-form.html' %}
        </br>
    </div>
  
</div>
<script src="{{ url_for('static', filename='js/stars.js') }}"></script>