<article class="search-history">
    <div class="organizer">
        <div class="user-info">
            <h2>{{ title }}</h2>
            {% if reviews %}
            <h3>Your Recent Reviews</h3>
            <ul class="review-list">
                {% for review in reviews %}
                <li class="review-item">
                    Tool: {{ review.name }}<br>
                    Review: "{{ review.review_text }}" <br>
                    Date: {{ review.created_at }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No reviews for your tools yet.</p>
            {% endif %}
        </div>
    </div>
</article>