<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user-dash.css') }}">
</head>

<body>
    <h1>Recent Reviews for Your Tools</h1>
    <div class="tool-reviews">
        <h2>Reviews</h2>
        {% if reviews %}
        {% for review in reviews %}
        <div class="review">
            <div class="review-header">
                {% if review.thumbnail_url %}
                <img class="review-logo" src="{{ review.thumbnail_url }}" alt="{{ review.tool_name }} logo" width="20"
                    height="20">
                {% endif %}
                <strong>{{ review.tool_name }}</strong>
            </div>
            <div class="review-text">{{ review.review_text }}</div>
            <span class="review-date">
                {{ review.created_at.date() }}<br>
                {{ review.created_at.time() }}
            </span>
        </div>
        {% endfor %}
        {% else %}
        <p>No reviews for your tools yet.</p>
        {% endif %}
    </div>
</body>