<div id="recommended-container" class="recommended-container">
    <div id="carousel" class="carousel">
        {% if data %}
            {% for item in data %}
            <div class="recommended-item">
                <br>
                <div class="recommended-info">
                    <ul>
                        <li><a href="{{ url_for ('view_tool.view_tool', idIndex = item.idIndex) }}">{{ item.name }}</a></li>
                        <li><img src="{{ item.thumbnail_url }}" height="auto" width="100%" style="max-width: 150px;"></li>
                        <li>{{ item.description }}</li>
                        <li>
                            Created by {{ item.company }},
                            {{ item.category }},
                            {{ item.platform }},
                        </li>
                        <li>{% if item.average_rating %}
                            Rating: <span class="average-rating-value">{{ "{:.2f}".format(item.average_rating) }}</span>
                            {% else %}
                            No ratings yet
                            {% endif %}
                        </li>
                    </ul>
                </div>
                </br>
            </div>
            {% endfor %}
        {% elif request.method == 'POST' %}
        <p>No results found.</p>
        {% endif %}
    </div>
    <div class="rotate-item">
        <button class="carousel-button prev">Previous</button>
        <span class="current-page"></span>
        <button class="carousel-button next">Next</button>
    </div>
</div>