.alligator {
    margin-top: clamp(32px, 8vw, 96px);
    margin-bottom: clamp(9px, 1.5vw, 18px);
  }
  
  .school {
    border-radius: 50%;
    border: clamp(6px, 0.5vw, 12px) solid #e9d597;
    margin-top: clamp(32px, 8vw, 128px);
    margin-bottom: clamp(18px, 1.5vw, 36px);
  }