@import url(fonts.css);

.results-container {
  flex-grow: 1;
  background-color: #f0f0f0;
  padding: clamp(16px, 4vw, 32px);
  border-radius: clamp(4px, 1vw, 8px);
  box-shadow: 0 0 10px rgba(96, 76, 17, 1);
  width: 50%;
  box-sizing: border-box;
  margin-top: clamp(12px, 3vw, 24px);
  margin-bottom: clamp(32px, 96px, 124px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.result-item {
  background-color: rgba(83, 86, 90, 0.125);
  border-radius: clamp(4px, 1vw, 8px);
  padding: clamp(8px, 2vw, 16px);
  margin-bottom: clamp(5px, 1.25vw, 10px);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.result-item .result-info {
  color: #000000;
  font-size: clamp(14px, 1.25vw, 16px);
  word-break: break-word;
}

.result-item a {
  color: #933311;
  font-size: clamp(18px, 1.25vw, 36px);
  word-break: break-word;
}

.result-item a:hover {
  color: #38635a;
}

.result-info ul {
  padding-bottom: 0px;
}

.view-link {
  color: #933311;
  font-size: clamp(14px, 1.25vw, 16px);
  word-break: break-word;
}

.view-link:hover {
  color: #38635a;
  font-size: clamp(18px, 1.25vw, 24px);
}

#results-container .results-container {
  display: block;
  margin-top: clamp(10px, 2.5vw, 20px);
  margin-left: auto;
  margin-right: auto;
  padding: clamp(5px, 1.25vw, 10px);
  position: relative;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

.info {
  margin-top: clamp(32px, 8vw, 124px);
  margin-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: clamp(4px, 1vw, 8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: clamp(24px, 8vw, 48px);
  padding-bottom: clamp(24px, 8vw, 48px);
  padding-left: 96px;
  padding-right: 96px;
  box-shadow: 0 0 10px rgba(96, 76, 17, 1);

}

.info h3 {
  margin-top: 0px;
}

.info img {
  border: clamp(4px, 0.5vw, 8px) solid #604c11;
  border-radius: 50%;
}

.history-info {
  margin-top: clamp(32px, 8vw, 124px);
  margin-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
  background-color:  #E9EAEA;
  border-radius: clamp(4px, 1vw, 8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: clamp(12px, 8vw, 24px);
  padding-bottom: clamp(12px, 8vw, 24px);
  padding-left: 48px;
  padding-right: 48px;
  box-shadow: 0 0 10px rgba(96, 76, 17, 1);
  width: 50%;
}

.history-info h3 {
  margin-top: 0px;
}

.history-info .user-paging {
  margin-bottom: 0px;
}

.chat-container {
  flex-grow: 1;
  background-color: #f0f0f0;
  padding: clamp(16px, 4vw, 32px);
  border-radius: clamp(4px, 1vw, 8px);
  width: 50%;
  box-sizing: border-box;
  margin-top: clamp(12px, 3vw, 24px);
  margin-bottom: clamp(32px, 96px, 124px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.chat-item {
  background-color: rgba(83, 86, 90, 0.125);
  border-radius: clamp(4px, 1vw, 8px);
  padding: clamp(8px, 2vw, 16px);
  margin-bottom: clamp(5px, 1.25vw, 10px);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}