* {
    text-align: center;
}

  @font-face {
    font-family: 'Source Sans 3'; 
    src: url('static/fonts/Source_Sans_3/static/SourceSans3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Source Sans 3'; 
    src: url('static/fonts/Source_Sans_3/static/SourceSans3-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Source Sans 3'; 
    src: url('static/fonts/Source_Sans_3/static/SourceSans3-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Aktiv Grotesk'; 
    src: url('static/fonts/Aktiv_Grotesk/static/AktivGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Aktiv Grotesk'; 
    src: url('static/fonts/Aktiv_Grotesk/static/AktivGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Aktiv Grotesk'; 
    src: url('static/fonts/Aktiv_Grotesk/static/AktivGrotesk-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

body {
    font-family: 'Source Sans 3', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    margin: 0;
    padding-top: 64px;
}

main {
    font-family: 'Source Sans 3', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
}

form {
    display: flex;
    align-items: center;
}

.filter-dropdown {
    background-color: #38635A;    
    color: #f0f0f0;
    padding: 10px;
    border: 1px solid;
    font-size: 16px;
    width: 128px;
    margin-right: 10px;
}

.dropdown-option {
    background-color: #53565a;
    font-size: 16px;
    width: 128px;
    text-align: Left;
}

.dropdown-options li {
    padding: 8px;
    cursor: pointer;
}

.search-bar {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid;
    font-size: 16px;
    width: 360px;
    text-align: left;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #26547C;
    color: #f0f0f0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 96px;
    margin-left: 10px;
}

.about-head {
    font-family: 'Cormorant Garamond', serif;
    padding: 0px;
    padding-bottom: 16px;
}

.gator{
    background-color: #C99700;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img.logo {
    margin: 10px;
}

header h1 {
    margin: 0;
}

h1 {
    font-family: 'Aktiv Grotesk', sans-serif;
    font-size: clamp(24px, 30x, 36px);
    padding-inline: 0px;
}

h2 {
    font-family: 'Aktiv Grotesk', sans-serif;
    font-size: 24px;
    text-decoration: underline;
}

h3,
h4 {
    font-family: 'Aktiv Grotesk', sans-serif;
    font-size: 16px;
}

h4 {
    text-decoration: underline;
}

ul {
    padding: 0;
    padding-bottom: 36px;
    margin: 0;
}

.team-info a {
    font-family: 'Aktiv Grotesk', sans-serif;
    font-size: 18px;
    color: black;
}

.team-info a:hover {
    font-size: 21px;
}

li {
    font-size: 28px;
    list-style-type: none;
}

a {
    color: #f0f0f0;;
    font-size: 36px;
    text-decoration: none;
}

.home-button {
    color: black;
}

a:hover {
    color: #933311;
    font-size: 40px;
    font-weight: bold;
}

footer {
    background-color: #E9D597;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 100;
}

footer a.about-button {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

footer a.about-button:hover {
    color: #463077;
}

.sidebar-left,
.sidebar-right {
    background-color: #231161;
    padding: 20px;
    text-align: left;
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 196px;
    transition: width 0.3s ease;
    z-index: 200;
    overflow-y: auto;
}

.sidebar-left {
    left: 0;
}

.sidebar-right {
    right: 0;
}

.results-container {
    flex-grow: 1;
    background-color: #ffffff;
    width: calc(100% - 480px); 
    margin-left: 240px;
    margin-right: 240px;
    min-height: calc(100vh - 128px); 
    min-width: 480px;
    max-width: 640px;
    overflow-y: auto; 
}

.left-nav,
.right-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-nav li,
.right-nav li {
    margin-bottom: 8px;
}

.left-nav a,
.right-nav a {
    font-family: 'Aktiv Grotesk', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f0f0f0;;
}

.left-nav a:hover,
.right-nav a:hover {
    font-size: 16px;
    color: #C99700;
}

.icon-container {
    width: 36px;
    height: 36px;
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: white;
    border: 4px solid #604C11;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sidebar-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.left-nav .history,
.left-nav .new_search,
.left-nav .predictive_search,
.right-nav .profile-link,
.right-nav .settings {
    display: flex;
    align-items: center;
}

.sidebar-right.collapsed .right-nav li a,
.sidebar-left.collapsed .left-nav li a {
    white-space: nowrap;
    overflow: hidden;
    text-indent: -9999px;
}

.toggle-button {
    font-family: 'Aktiv Grotesk', sans-serif;
    color: #53565a;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    bottom: 48px;
    z-index: 300;
}

.sidebar-left .toggle-button {
    left: 28px;
}

.sidebar-right .toggle-button {
    right: 28px;
}

#results-container .results-container {
    display: block;
    margin-top: 20px;
    margin-left: 210px;
    margin-right: 210px;
    padding: 10px;
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}