@import url(fonts.css);

.tool-container {
    width: 37.5%;
    margin-top: clamp(36px, 8vw, 128px);
    margin-bottom: clamp(36px, 8vw, 128px);
    background-color: rgba(83, 86, 90, 0.125);
    border-radius: clamp(4px, 1vw, 8px);
    padding: clamp(8px, 2vw, 16px);
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

.tool-container h2 {
    margin-top: clamp(24px, 8vw, 36px);
  }
  
  .tool-container h4 {
    margin-top: clamp(6px, 8vw, 18px);
  }
  
  .tool-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .tool-link {
    color: #933311;
    font-size: clamp(14px, 1.25vw, 16px);
    word-break: break-word;
  }
  
  .tool-link:hover {
    color: #38635a;
  }
  
  .tool-thumbnail {
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .tool-rating {
    margin: 10px 0;
  }
  
  .average-rating {
    --star-size: 24px;
    position: relative;
    display: inline-block;
    font-size: var(--star-size);
    letter-spacing: 2px;
  }
  
  .average-rating::before {
    content: "★★★★★";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--rating);
    overflow: hidden;
    color: gold;
  }
  
  .rating-value {
    font-weight: bold;
    margin-left: 10px;
  }
  
  .no-rating {
    color: #666;
  }
  
  .tool-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 15px 0;
    color: #555;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 8px;
  }
  
  .tool-description {
    padding: 15px;
    background: #f8f8f8;
    border-radius: 8px;
  }
  
  .review {
    margin: 20px 0;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 8px;
  }
  
  .review-header {
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 5px;
  }
  
  .review-text {
    margin: 0;
  }
  
  .tool-actions {
    margin-top: 30px;
    display: flex;
    gap: 15px;
  }
  
  .tool-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tool-title {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
  }
  
  .tool-title:hover {
    color: #38635a;
  }
  
  .star {
    font-size: 20px;
    color: gray;
  }
  
  .star.full {
    color: #c99700;
  }
  
  .star.half {
    position: relative;
    display: inline-block;
    color: gray;
  }
  
  .star.half::before {
    content: "★";
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: #c99700;
  }