<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Ulices Gonzalez"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>Member</title>
    </head>
    <body>
        <header>
            <h1>Software Engineering Class SFSU</h1>
            <h1>Spring 2025</h1>
            <h1>Section 02</h1>
            <h1><a class="home-button" href="/">Team 03</a></h1>
        </header>
        <main>
            <article>
                <div>
                    <div>
                        <h3>Name: Andre Dargani</h3>
                        <img src="/static/imgs/andre.jpg" width="25%" height="25%" alt="" />
                        <h3>Role: Back End Engineer</h3>
                        <h4>About Me</h4>
                        <p>Hi! My name is Andre Dargani. I'm currently a third year student at San Francisco State University. I study Computer Science and Chinese. I'm also part of the San Francisco State University wrestling team. Go Gators!</p>
                    </div>
                </div>
            </article>
        </main>
        <footer>
            ©Team03
        </footer>
    </body>
</html>
