<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Andre Dargani" />
    <link rel="stylesheet" type="text/css" href="/static/css/basic.css">
    <title>Andre Dargani</title>
</head>

<body>
    {% include 'partials/about/header.html' %}
    <main>
        <article>
            <div>
                <div>
                    <h3>Name: Andre Dargani</h3>
                    <img src="/static/imgs/andre.jpg" width="25%" height="25%" alt="" />
                    <h3>Role: Back-End Lead</h3>
                    <h4>About Me</h4>
                    <p>Hi! My name is Andre Dargani. I'm currently a third year student at San Francisco State
                        University. I study Computer Science and Chinese. I'm also part of the San Francisco State
                        University wrestling team. Go Gators!</p>
                </div>
            </div>
        </article>
    </main>
    {% include 'partials/about/footer.html' %}
</body>

</html>