<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Ulices Gonzalez"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>Member</title>
    </head>
    <body>
        {% include 'partials/about/header.html' %}
        <main>
            <article>
                <div>
                    <div>
                        <h3>Name: Jared Aung</h3>
                        <img src="/static/imgs/jared.png" width="25%" height="25%" alt="jared's picture" />
                        <h3>Role: Team Lead/Database Engineer</h3>
                        <h4>About Me</h4>
                        <p> Hey everyone. My name is Jared. I am originally from a small country in Asia called Myanmar.</p>
                        <p> I am currently a senior at San Francisco State University majoring in Computer Science.</p>
                        <p> In my free time, I love playing soccer, playing chess, watching movies and shows. </p>
                    </div>
                </div>
            </article>
        </main>
        {% include 'partials/about/footer.html' %}
    </body>
</html>
