<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Mowtee Sailan" />
    <link rel="stylesheet" type="text/css" href="/static/css/basic.css">
    <title>Mowtee Sailan</title>
</head>

<body>
    {% include 'partials/about/header.html' %}
    <main>
        <article>
            <div>
                <div>
                    <h3>Name: Mowtee Sailan</h3>
                    <img src="/static/imgs/mowtee.jpg" width="25%" height="25%" alt="" />
                    <h3>Role: Front-End Engineer/Github Master</h3>
                    <h4>About Me</h4>
                    <p>Hi, my name is Mowtee Sailan and I am from Oakland, California.</p>
                    <p>I'm a Computer Science major and hope to graduate this Spring!</p>
                    <p>After graduation I hope to enjoy a little break then hopefully land a job.</p>
                </div>
            </div>
        </article>
    </main>
    {% include 'partials/about/footer.html' %}
</body>

</html>